<footer class="bg-dark text-white py-4">
    <div class="container">
      <div class="row">
        <!-- Über uns -->
        <div class="col-md-4 mb-3">
          <h5>Über uns</h5>
          <p>
            Testprojekt
          </p>
        </div>
  
        <!-- Links -->
        <div class="col-md-4 mb-3">
          <h5>Inhalt</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Home</a></li>
            <li><a href="#" class="text-white">Kontakt</a></li>
            <li><a href="#" class="text-white">Datenschutz</a></li>
          </ul>
        </div>
  
        <!-- Kontakt -->
        <div class="col-md-4 mb-3">
          <h5>Kontakt</h5>
          <p>
            E-Mail:test/mail.de<br />
            Telefon: +0123456
          </p>
        </div>
      </div>
  
      <!-- Copyright -->
      <div class="text mt-3">
        <p>&copy; {{ currentYear }} Koeppe</p>
      </div>
    </div>
  </footer>